body {
     font-family: 'Cormorant Garamond', serif;
     margin: 0;
}

h1 {
     font-size: 50px;
}

.text_hilight {
     color: darkorange;
}

.half-width {
     width: 40%;
     float: left;
     margin-left: 80px;
     margin-top: 50px;
     padding: 20px;
}

h3 {
     color: rgb(50, 208, 18);
}

.top-banner {
     background-image: url(top-banner.png);
     background-repeat: no-repeat;
}

section {
     height: 500px;
     padding-bottom: 150px;
}

img {
     width: 80%;
}

.link-button {
     text-decoration: none;
     border-radius: 3px;
     background-image: linear-gradient( orange, tomato);
     color: white;
     font-weight: 700px;
     padding: 3px;
}

.dream-area {
     background-image: url(images/dream-bg.png);
     background-repeat: no-repeat;
     background-position: right;
}